span{
    box-shadow: 3px 0px 7px -1px #ce67eb;
	background-color:#ffffff;
	border-radius:38px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:23px 27px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}

.b1:hover{
    background-color:#d6d6d6;
}

.b1:active{
    position:relative;
	top:1px;
}


