span{
    color: red;
}
#p01
{
    color: green;
}
#p02
{
    color: purple;
}

.links
{
    border: 1px solid black;
    padding: 5px;
    background-image: radial-gradient( #a8d395, #31a84f);
    border-radius: 10px;
    text-decoration: none;
    color: black;

}

.links:hover
{
    color:pink;
}
#body01
{
    background: radial-gradient( #ffffff, #e8ffe7);
}
/*
Seletor {
    propriedade: valor;
}*/
